[submodule "deps/tomlplusplus"]
	path = deps/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "deps/CLI11"]
	path = deps/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/miniaudio"]
	path = deps/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "deps/Catch2"]
	path = deps/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "deps/whisper.cpp"]
	path = deps/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
